nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    color: #FFFEF2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #FFFEF2;
    color: #6CADC8;
}

nav a.active {
    background-color: #6CADC8;
    color: #FFFEF2;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #FFFEF2;
    font-family: Georgia, Verdana;
}

h1 {
    background-color: #6CADC8;
    color: #FFFEF2;
    font-family: "American Typewriter", "Courier New", Georgia, Verdana;
    padding-left: 14px;
}

h2 {
    color: #6CADC8;
    font-family: "American Typewriter", "Courier New", Georgia, Verdana;
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #6CADC8;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #FFFEF2;
}

footer p {
    text-align: center;
}

.italics {
    font-style: italic;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

pre {
    font-family: Georgia, Verdana;
}
